@import url('https://fonts.cdnfonts.com/css/market-deco');
body {
  margin: 0;
  font-family: 'Market Deco', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Market Deco', sans-serif;
}
